*{margin: 0;padding: 0;font-family: arial}
html, body{height: 100%;}
a{color: #000;text-decoration: none}
a:hover{color: #525252}
img{width: 100%}
.container{width: 90%;margin: 0 auto}
.topmenu{display: grid;grid-template-columns: repeat(2, 1fr);padding: 15px 10px;align-items: center;border-bottom: 1px solid #A9A9A9}
.topmenu .left{justify-self:start;}
.topmenu .left button{background-color: transparent;border:none;}
.topmenu .left input{border:none;padding: 5px;font-size: 15px}
.topmenu .left i{font-size: 15px}
.topmenu .right{display:grid;justify-self:end;grid-template-columns: repeat(2, 1fr);grid-gap: 20px;justify-items: center}
.topmenu .right .signup{margin-left: 20px;}
.topmenu .right a{font-size: 15px;}
.topmenu .right .profil{padding: 10px}
.topmenu .right .cart{display: grid;align-self: center}
.topmenu .right .dropdown{overflow: hidden;}
.topmenu .right .dropdown-content a:hover{background-color: #F6F6F6}
.topmenu .right .dropdown .dropdown-content{display: none;position: absolute;background-color: #F9F9F9;min-width: 160px; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);margin-left: -50px;}
.topmenu .right .dropdown .dropdown-content a{float: none;color: black;padding: 12px 16px;text-decoration: none;display: block;text-align: left}
.topmenu .right .dropdown .dropdown-content a:hover{background-color: #CACACA;}
.topmenu .right .dropdown:hover .dropdown-content{display: block;}
.topmenuadd{display: grid;grid-template-columns: repeat(3, 1fr);padding: 10px 10px;align-items: center;border-bottom: 1px solid #A9A9A9}
.topmenuadd .left{justify-self:start;}
.topmenuadd .right{display: grid;justify-self:end;grid-template-columns: 1fr;justify-items:center;}
.topmenuadd .right a{font-size: 15px}
.topmenuadd .center .brandadd{text-align: center;}
.topmenuadd .center a{padding-left: 0;justify-self:center;font-size: 25px}
.topmenuadd .left .dropdown{overflow: hidden;}
.topmenuadd .left .dropdown .profil{padding: 10px}
.topmenuadd .left .dropdown-content a:hover{background-color: #F6F6F6}
.topmenuadd .left .dropdown .dropdown-content{display: none;position: absolute;background-color: #F9F9F9;min-width: 160px; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);}
.topmenuadd .left .dropdown .dropdown-content a{float: none;color: black;padding: 12px 16px;text-decoration: none;display: block;text-align: left}
.topmenuadd .left .dropdown .dropdown-content a:hover{background-color: #CACACA;}
.topmenuadd .left .dropdown:hover .dropdown-content{display: block;}
.brand a{font-size: 30px;padding: 20px 10px 0 10px;display: block}
.brand .desc{margin-left: 10px;color: #808080;margin-bottom: 20px}
.content{display: grid;grid-template-columns: 250px 1fr;grid-gap: 10px}
.content .menu ul{list-style: none}
.content .menu li a{padding: 10px 5px;display: block;border-top:1px solid #A9A9A9;}
.content .produk{width: 220px;padding: 10px 20px;transition: all 0.2s ease}
.content .produk:hover{box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);}
.content .produk img{width: 100%}
.content .produk .judul{text-align: center;}
.content .produk .harga{border-top: 1px solid #A9A9A9;margin-top: 10px;padding-top: 10px;text-align: center}
.content .main{display: grid;grid-template-columns: repeat(3, 1fr);justify-items: center;}
.container2{background-color: #ECECEC;height: 100%;}
.container2 .login{background-color: #fff;padding: 40px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);border-radius: 10px;width: 300px}
.container2 .nginput, .container2 .inputWrap textarea{border-bottom:0.1px solid #A9A9A9!important;border:none;width: 93%;font-size: 16px;padding: 10px;letter-spacing: 1px}
.container2 .nginput:focus{outline: none;}
.container2 input[type=submit]{background-color: transparent;border:1px solid #A9A9A9;padding: 10px 30px;margin: 0 auto;font-size: 17px;transition: all 0.5s;cursor: pointer;}
.container2 input[type=submit]:hover{letter-spacing: 3px;border-radius: 10px}
.container2 .inputWrap{margin-bottom: 20px;text-align: center;}
.container2 .brandlog{font-size: 30px;text-align: center;margin-bottom: 20px}
.content .main2{display: grid;grid-template-columns: 300px 1fr;grid-gap: 20px}
.content .main2 .left img{box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2)}
.content .main2 .right .judul-produk{font-weight: bold;font-size: 25px}
.content .main2 .right .harga-produk{font-size: 20px;margin: 20px;}
.content .main2 .right .stok-produk{text-decoration: underline;font-size: 18px;}
.content .main2 .right .catatan-penjual input{border:none;border-bottom: 1px solid #A9A9A9;width: 200px;padding: 10px;font-size: 15px;margin-top: 10px;transition: all 0.3s;float: left;margin-right: 20px}
.content .main2 .right .catatan-penjual input:focus{border-bottom: 1px solid #000;outline: none}
.content .main2 .right input[type=number]{-moz-appearance: textfield;appearance: textfield;margin: 0;height: 30px;width: 50px;padding: 0 0 0 10px;}
.content .main2 .right input[type=number]::-webkit-inner-spin-button,.content .main2 .right input[type=number]::-webkit-outer-spin-button{margin:0;padding: 2px}
.content .main2 .right .jumlah-beli{margin-top: 15px}
.content .main2 .right .addtocart button{background-color: transparent;border:1px solid #A9A9A9;padding: 10px;border-radius: 5px;margin: 20px;cursor: pointer;}
.content .main2 .deskripsi{grid-column-start: 1;grid-column-end: 3}
.content .main2 .deskripsi h2{border-bottom: 2px solid #5E5E5E;margin-bottom: 20px}
.footer{padding: 20px;border-top: 1px solid #A9A9A9;margin-top: 20px}
.footer p{text-align: center;}
.footer .brand{font-size: 28px}
.content .data{display: grid;grid-template-columns: repeat(2, 1fr);margin-left: 60px}
.content .data td{padding: 5px}
.content .data input[type=text], .content .data input[type=email], .content .data input[type=number], .content .data textarea, .modal input[type=text]{border:none;border-bottom: 1px solid #A9A9A9;padding: 5px;font-size: 16px;display: block;width: 250px;margin: 10px 0}
.content .data input[type=text]:focus, .content .data input[type=email]:focus, .content .data input[type=number]:focus{outline: none}
.content .data input[type=submit], .content .pp input[type=submit], .trigger, .modal input[type=submit]{background-color: transparent;padding: 10px 15px;border:1px solid #A9A9A9;transition: all 0.5s;cursor: pointer;}
.content .data input[type=submit]:hover, .content .pp input[type=submit]:hover{letter-spacing: 2px}
.content .data textarea{height: 150px;}
.content .data textarea:focus{outline: none}
.content .dataAd input[type=text], .content .dataAd input[type=email], .content .dataAd input[type=password], .tambah input[type=text]{border: none;border-bottom: 1px solid #A9A9A9;padding: 5px;font-size: 16px;width: 250px}
.content .dataAd input[type=text]:focus, .content .dataAd input[type=email]:focus, .content .dataAd input[type=password]:focus, .tambah input[type=text]:focus{outline: none;}
.content .dataAd input[type=submit], .tambah input[type=submit]{background-color: transparent;padding: 10px 15px;border:1px solid #A9A9A9;transition: all 0.5s;cursor: pointer;}
.tambah input[type=text]{margin-bottom: 20px;margin-right: 20px}
.content .dataAd input[type=submit]:hover{letter-spacing: 2px}
.content .dataAd table{width: 300px;margin: 0 auto}
.content .dataAd table td{padding: 10px;}
.trigger{margin-top: 20px}
.modal{position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,0.5);opacity: 0;visibility: hidden;transform: scale(1.1);transition: all 0.25s linear}
.modal-content{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);background-color: white;padding: 1rem 1.5rem;width: 24rem;border-radius: 0.5rem}
.closeButton{float: right;width: 1.5rem;line-height: 1.5rem;text-align: center;cursor: pointer;border-radius: 0.25rem;background-color: #F3F3F3}
.show-modal{opacity: 1;visibility: visible;transform: scale(1.0);transition: all 0.25s linear}
.modal table{width: 200px;margin: 0 auto;}
.modal input[type=submit]{margin-top: 20px}
.alert{padding: 20px;color: #fff;margin-bottom: 15px}
.sukses{background-color: #2ecc71}
.gagal{background-color: #e74c3c}
.info{background-color: #3498db}
.closebtn{margin-left: 15px;color: #fff;font-weight: bold;float: right;font-size: 22px;line-height: 20px;cursor: pointer;transition: all 0.5s}
.closebtn:hover{color:#f5f5f5;}
.content .main3 table{border-collapse: collapse;width: 100%;table-layout: fixed;}
.content .main3 table tr, .content .main3 table td{padding: 8px;text-align: left;border-bottom: 1px solid #A9A9A9}
.content .main3 table tr:hover{background-color: #f5f5f5}
.content .main3 table td{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-align: center}
.content .data select{padding: 10px;width: 250px;}